/*Body of the HTML Document*/
body{
    margin:0;
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
    height: 170vh;
}
.butt{font-size: 5vw;position: relative;padding: 0;}
#title{
    position: relative;
}
#body2{
    position: absolute;
    width:100vw;
    height:170vh;
    background-image: url("/about/sandra/sandrabg.png");
    background-size: 10vw 10vw;
    -webkit-filter: opacity(0.5) blur(0vh);
    -moz-filter: opacity(0.5) blur(0vh);
    -o-filter: opacity(0.5) blur(0vh);
    -ms-filter: opacity(0.5) blur(0vh);
    filter:opacity(0.7) blur(2px);
    margin:0;
    z-index: -1;
}
#body3{
    width:100vw;
    height:170vh;
    background-color:black;
    position:absolute;
    z-index: -2;
}
h1{position: relative;
    z-index: 1;margin:0;
font-size: 20vh;}
.center{text-align: center;

}
#sandraref{
    width: 25vw;
    position: absolute;
    left:5%;
    top:35%;
}
.art{
    position: absolute;
    left:5%;
    top:100%;
}
#img1{
    width:46vh;
}
#img2{
    width:46vh;
}
#img3{
    width:46vh;
}
#img4{
    width:46vh;
}
.con1{
    background-color: white;
    border: 10px solid black;
    position: absolute;
    left:25%;
    display: block;
    font-size: 1.5vw;
}

.con2{
    position: absolute;
    background-color: white;
    border: 10px solid black;
    left:40%;
    top: 40%;
    display: block;
    font-size: 1.5vw;
}

.con3{
    position: absolute;
    background-color: white;
    border: 10px solid black;
    left:75%;
    top: 40%;
    display: block;
    font-size: 1.5vw;
}