/*floweranim Animation*/
@keyframes floweranim {
    0%   {opacity: 0; transform: rotate(0deg);}
    50%   {opacity: 1; transform: rotate(180deg);}
    100% {opacity: 0; transform: rotate(360deg);}
}
/*floweranim class*/
.floweranim {
    animation: floweranim 3.0s forwards linear;
}
/*Flower Secret*/
.secret1 {
    position:absolute;
    top: 33%;
    left: 20%;
    opacity: 0%;
    width: 10vw;
}
